/* to give image rounded corners */
body {
	background-image: url(../img/topography.png);
	background-color: #cccccc;	
}
#img {
	height: 320px; 
    width: 250px;
    border-radius: 15px 50px;
    border: 16px solid #00FA9A;
}
.white {
	background-color: white;
}